    {% extends 'IstokIstokBundle::index.html.twig' %}
    {% block body %}


<h1>Listes clients</h1><hr>



<table class="table table-bordered search-table" >
<thead> 
<tr>









<th>nom</th>
<th>prenom</th>
<th>tel</th>
<th>cin</th>
<th>Date d'inscription</th>
<th>Categorie</th>

</tr>
</thead> 

<tbody>
{% for client in clients %}


<tr>
<td>{{client.nom}}</td>
<td>{{client.prenom}}</td>
<td>{{client.tel}}</td>
<td>{{client.cin}}</td>
<td>{{client.date|date("m/d/Y")}}</td>
<td>{{client.type.type}}</td>

{% if(role[0])=='ROLE_SUPER_ADMIN' %}


<td>
<a class="btn btn-sm btn-warning" href="{{path('client_edit',{'id':client.id})}}" role="button">  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
<a class="btn btn-sm btn-danger" href="{{path('client_delete',{'id':client.id})}}" role="button">  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</a>



</td>
{% endif %}
</tr>


{% endfor%}



</tbody>

</table>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
            $(document).ready(function(){
                $('table.search-table').tableSearch({
                    searchText:'Rechercher    ',
                    searchPlaceHolder:' '
                });
            });
$(document).ready(function(){


 $(".delete").click(function(event){
    if (confirm("voulez vous vraiment supprimer ?") == true) {
    } else {
        event.preventDefault();
location.reload();


    }    });
});

</script>



    {% endblock %}
