    {% extends 'IstokIstokBundle::index.html.twig' %}
    {% block body %}


<h1>Listes catégories tissus</h1><hr>

<div class="col-md-6">

<a class="btn btn-sm btn-primary" href="{{path('tissus_add')}}"><i class="glyphicon glyphicon-plus"></i> Ajouter tissu </a>

<table class="table table-bordered search-table" >
<thead> 
<tr>
<th>Image</th>
<th>Reference</th>
<th>Categorie</th>
<th>Prix</th>


</tr>
</thead> 

<tbody>
{% for tissu in tissus %}




<tr>
<td style="al"><img style="width:100px;height:65px" src="{{asset('uploads/documents/bois/'~tissu.path)}}" class="img-thumbnail" alt="no img"> </td>
<td>{{tissu.reference}}</td>
<td>{{tissu.cattissus.categorie}}</td>
<td>{{tissu.prix}}</td>

{% if(role[0])=='ROLE_SUPER_ADMIN' %}


<td>
<a  data-toggle="tooltip" data-placement="top" title="Modifier" class="btn btn-sm btn-warning" href="{{path('tissus_edit',{'id':tissu.id})}}" role="button">  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
<a  data-toggle="tooltip" data-placement="top" title="Supprimer" class="btn btn-sm btn-danger" href="{{path('tissus_delete',{'id':tissu.id})}}" role="button">  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</a>



</td>


{% endif %}

</tr>


{% endfor%}



</tbody>

</table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
			$(document).ready(function(){
				$('table.search-table').tableSearch({
					searchText:'Rechercher    ',
					searchPlaceHolder:' '
				});
			});
$(document).ready(function(){


 $(".delete").click(function(event){
    if (confirm("voulez vous vraiment supprimer ?") == true) {
    } else {
        event.preventDefault();
location.reload();


    }    });
});

</script>



    {% endblock %}
