<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="{{asset('bundles/gji/img/favicon.ico')}}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{asset('bundles/gji/img/favicon.ico')}}" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Groupji</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="/groupji/web/assets/js/require.min.js"></script>
    
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="{{asset('assets/css/dashboard.css')}}" rel="stylesheet" />
    <script src="{{asset('assets/js/dashboard.js')}}"></script>
    <!-- c3.js Charts Plugin -->
    <link href="{{asset('assets/plugins/charts-c3/plugin.css')}}" rel="stylesheet" />
    <script src="{{asset('assets/plugins/charts-c3/plugin.js')}}"></script>
    <!-- Google Maps Plugin -->
    <link href="{{asset('assets/plugins/maps-google/plugin.css')}}" rel="stylesheet" />
    <script src="{{asset('assets/plugins/maps-google/plugin.js')}}"></script>
    <!-- Input Mask Plugin -->
    <script src="{{asset('assets/plugins/input-mask/plugin.js')}}"></script>
  </head>
  <body class="">
    <div class="page">
      <div class="page-main">

        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="http://groupji.com/groupji/web/Dash">
                <img src="{{asset('bundles/gji/img/favicon.ico')}}" class="header-brand-img" alt="tabler logo">GROUPJI
              </a>


              <div class="d-flex order-lg-2 ml-auto">

                <div class="dropdown d-none d-md-flex">
                  <a class="bellNotification nav-link icon" data-toggle="dropdown">
                    <i class="fe fe-bell"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow notifications">
                    






                  </div>


                </div>
                <div class="dropdown">
                  <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <span class="avatar" style="background-image: url({{asset('uploads/users/'~app.user.path)}})"></span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-befault">{{app.user.Fname}} {{app.user.Lname}}</span>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="{{path('Profile')}}">
                      <i class="dropdown-icon fe fe-user"></i> Profile
                    </a>
                       <div class="dropdown-divider"></div>


                    <a class="dropdown-item" href="{{path('fos_user_security_logout')}}">
                      <i class="dropdown-icon fe fe-log-out"></i> Sign out
                    </a>
   
                  </div>
                  
                </div>
              </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse" style="border:0px !important" >
          <div class="container">
            <div class="row align-items-center">

              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="{{path('home')}}" class="nav-link"><i class="fe fe-home"></i> Dashboard</a>
                  </li>

                  <li class="nav-item">
                    <a href="{{path('MyGroups')}}" class="nav-link"><i class="fe fe-users"></i> My Group</a>
                  </li> 

                  <li class="nav-item">
                    <a href="{{path('Profile')}}" class="nav-link"><i class="fe fe-user"></i> Profile</a>
                  </li>  

                </ul>
              </div>
            </div>
          </div>
        </div>


        {% block body %}


        {% endblock %}

      </div>


      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                <div class="col-auto">

                </div>

              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 <a href="."></a>All rights reserved.
            </div>
          </div>
        </div>
      </footer>
    </div>


  </body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

dataX=[]

$(document).ready(function(){

  localStorage.clear();

})

if(typeof(EventSource) !== "undefined") {
    var source = new EventSource("{{path('getNotification')}}");
    source.onmessage = function(event) {

      datasT = JSON.parse(event.data)
      
      console.log(localStorage.getItem('CountDataNotification'))
      console.log(datasT)


      if(localStorage.getItem('CountDataNotification')){

        countNotificationStrorage=localStorage.getItem('CountDataNotification');

        if(countNotificationStrorage != datasT.length){
          

          $(".notifications").empty()

          if(datasT.length>0){

            $(".bellNotification").append('<span class="nav-unread"></span>')

          }else{

            $(".nav-unread").remove()

          }         

          for (var i = 0; i < datasT.length; i++) {
            
            data=datasT[i]
            imgg="{{asset('uploads/users/')}}"        
            idG=data.id

            dataX.push(data.idnot)       
            
            route = "{{ path('GetGroup', {'id': "6666666"})|escape('js') }}";
            
            href = route.replace("6666666", idG);
            paramsHref='?idnot='+data.idnot
            href =href+paramsHref

            $(".notifications").append('<a id='+data.idnot+' href="'+href+'" class="dropdown-item d-flex"><span class="avatar mr-3 align-self-center" style="background-image: url('+imgg+data.path+')"></span><div><strong>'+data.nameUser+'</strong> '+data.notification+'. <div class="small text-muted">'+data.date+'</div></div></a>');

          }

          if(datasT.length>0){
           
            $(".notifications").append('<div class="dropdown-divider"></div><a  onclick="allnotification()" id="all" href="#" class="allNot dropdown-item text-center text-muted-dark">Mark all as read</a>')

          }else{
            
            $(".notifications").append('<div class="dropdown-divider"></div><a id="" onclick="allnotification()" href="#" class="allNot dropdown-item text-center text-muted-dark">No notification found</a>')

          }

        }

      }else{


          console.log('no lacalstorage')

          localStorage.setItem('CountDataNotification', datasT.length);


          if(datasT.length>0){

            $(".bellNotification").append('<span class="nav-unread"></span>')

          }else{

            $(".nav-unread").remove()


          }    
          for (var i = 0; i < datasT.length; i++) {
            
            data=datasT[i]
            imgg="{{asset('uploads/users/')}}"
            idG=data.id        
            route = "{{ path('GetGroup', {'id': "6666666"})|escape('js') }}";
            
            dataX.push(data.idnot)       
            
            href = route.replace("6666666", idG);
            paramsHref='?idnot='+data.idnot
            href =href+paramsHref

            $(".notifications").append('<a id='+data.idnot+' href="'+href+'" class="dropdown-item d-flex"><span class="avatar mr-3 align-self-center" style="background-image: url('+imgg+data.path+')"></span><div><strong>'+data.nameUser+'</strong> '+data.notification+'. <div class="small text-muted">'+data.date+'</div></div></a>');

          }

          if(datasT.length>0){
            
            $(".notifications").append('<div class="dropdown-divider"></div><a id="" onclick="allnotification()" href="#" class="allNot dropdown-item text-center text-muted-dark">Mark all as read</a>')

          }else{
            
            $(".notifications").append('<div class="dropdown-divider"></div><a id="" onclick="allnotification()" href="#" class="allNot dropdown-item text-center text-muted-dark">No notification found</a>')

          }


      }






    };
} 





function allnotification() {

  localStorage.clear()
  console.log('dataX')
  console.log(dataX)
  $(".nav-unread").remove()
  $(".notifications").empty()
   $.post("{{ path('readNotification') }}", {

            datas:dataX
       },
       function(datasAccount, status) {

           if (status == 'success') {
            console.log(datasAccount)
           }

       });
   

}



</script>